/*

!/.github/
!/.github/**
!/.gitignore
!/.env.example
!/agent.md
!/CONTRIBUTING.md
!/.release-please-manifest.json
!/flows.json
!/LICENSE
!/package.json
!/package-lock.json
!/README.md
!/railway.toml
!/release-please-config.json
!/settings.js
